---
import Nav from '../components/Nav.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <div class="text-destaque text-center py-4 font-mono text-2xl">
    {SITE_TITLE}
  </div>
  <Nav />
</header>