@import "tailwindcss";

/* 1. CAMADA BASE (O seu Reset Global Customizado) */
@layer base {
    /* Garante que o cálculo de tamanho inclua bordas e paddings */
    *, ::before, ::after {
        box-sizing: border-box;
    }

    html {
        /* Faz a página deslizar suavemente quando clicar em links de âncora (#sobre) */
        scroll-behavior: smooth; 
    }

    /* BÔNUS DE INFRAESTRUTURA: Barra de rolagem customizada estilo Terminal */
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--color-preto-m);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-items);
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-destaque);
    }
    /* ... seu código anterior do scrollbar ... */

    /* 1. Cursor Global (Seta Verde Neon) */
    body {
        /* O '%23' é o código '#' traduzido para URL. %2300FF41 = #00FF41 */
        cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%2300FF41" stroke="%230D0208" stroke-width="1"><polygon points="3 3 10 21 13 14 20 11 3 3"/></svg>'), auto;
    }

    /* 2. Cursor Tático para Links e Botões (Mira/Crosshair) */
    a, button {
        /* Os números '12 12' dizem ao navegador que o "ponto de clique" é exatamente no meio (X:12, Y:12) do desenho de 24x24px */
        cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%2300FF41" stroke="%230D0208" stroke-width="1"><polygon points="3 3 10 21 13 14 20 11 3 3"/></svg>'), pointer;
        @apply text-texto hover:text-destaque transition-colors duration-300 border-b-2 border-transparent hover:border-destaque
    }
    p {
        @apply flex justify-center-safe
    }
}

/* 2. CAMADA DE TEMA (As suas variáveis do sistema) */
@theme {
    --color-preto-m: #0D0208;
    --color-texto: #008F11;
    --color-destaque: #00FF41;
    --color-items: #003B00;
}

/* 3. CAMADA DE COMPONENTES/UTILITÁRIOS (Suas classes customizadas) */
@layer components {
    .active {
        color: var(--color-destaque);
        border-bottom: 2px solid var(--color-destaque);
    }
}